<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首頁-登入畫面</title>
    <link rel="stylesheet" href="{{
        url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div class="welcome">歡迎光臨，請輸入帳號密碼</div>
    <br>
    <h1>登入系統</h1>
    <form action="/signin" method="POST" class="form">
        帳號 <input type="text" name="username"/><br>
        密碼 <input type="text" name="password"/><br>
        同意條款 <input id="checkbox" type="checkbox" name="checkbox"/><br>
        <br>
        <button id="button">登入</button>
    </form>
    <hr/>
    <h1>計算正整數的平方</h1>
    正整數 <input type="text" id="numberInput"/><br>
    <button id="submit">計算</button>

</body>
<script>
    //checkbox
    let button=document.getElementById("button");
    let checkbox=document.getElementById("checkbox");
    button.addEventListener("click",function(event){
    if(!checkbox.checked){
        event.preventDefault();
        alert("Please check the checkbox first")
    }     
    });
    // 正整數平方
    let submit=document.getElementById("submit");
    submit.addEventListener("click",function(){
        let number=document.getElementById("numberInput").value;
        // if(isNaN(number)||number<=0){
        //     alert("Please enter a positive number")
        if(!Number.isInteger(parseFloat(number)) || parseFloat(number) <= 0){
            alert("Please enter a positive number")
        }else{
            window.location.href="/square/"+number;
        }
    });
</script>
</html>