body{
    text-align: center;
}
.welcome{
    background-color: rgb(65, 100, 240);
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 50px;
    color:white
}
input{
    padding:5px;
    margin: 10px;
}
.form{
    font-size: 20px;
}